@font-face {
  font-family: 'Gentium Book Basic';
  src: url('../../fonts/GenBkBasR.ttf');
}

body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 2%;
  font-family: Gentium Book Basic;
  font-size: 18px;
}

.indent {
  text-indent: 50px;
}

.quote-box {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
}

.main-doc {
background-color: white;
padding-left: 0px;
padding-right: 0px;
padding-top: 2%;
padding-bottom: 5%;
}

.sub-doc {
  padding-left: 0px;
  padding-right: 0px;
}

.title {
  color: rgb(199, 146, 136);
  text-align: center;
}

.author {
  color: #A4907C;
  text-align: center;
}

.subtitle{
  text-align: center;
}

.references {
  font-size: 9px;
}


