@font-face {
  font-family: 'Gentium Book Basic';
  src: url('../../fonts/GenBkBasR.ttf');
}

a{
  color: rgb(199, 146, 136);
}

body {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: Gentium Book Basic;
  font-size: 18px;
  background:url(img/sun.gif);
}

.indent {
  text-indent: 50px;
}

.quote-box {
  padding-left: 12%;
  padding-right: 12%;
  font-size: 16px;
}

.main-doc {
background-color: white;
padding-left: 4%;
padding-right: 4%;
padding-top: 5%;
padding-bottom: 5%;
}

.sub-doc {
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  color: rgb(199, 146, 136);
  text-align: center;
}

.author {
  color: #A4907C;
  text-align: center;
}

.subtitle{
  text-align: center;
}

.references {
  font-size: 9px;
}

@media (max-width: 750px){
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
}

