/* BOOKS */

/* The body */
.book {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* About the book collection */
.book_about {
  justify-content: center;
  text-align: left;
  width: 50%;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
}

/* Content of the page */
.book_content {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

/* Item under Book*/
.book_item {
  padding-right: 5px; 
  padding-left: 5px; 
  padding-bottom: 5px;
}

/* CSS changes for devices under 420px in width */
@media (max-width: 420px){
  .book_content {
    padding-right: 2%;
    padding-left: 2%;
  }
}


