/*===[I-330 Home CSS]========================================================|*/

/* Page-Wide CSS */
html {
  background-color: #DFD3C3;
  color: #874356;
  height: 100%;
}

/* Body-Wide CSS */
body {
  min-height: 100%;
  margin: 0;
  display: table;
  width: 100%;
}

/* change color of links */
a{
  color: #C65D7B;
}

.change-language {
  width: 30px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 2px 2px;
}

/* Spacer Class */
.spacer {
	margin-top: 3vw;
}

/* Header CSS*/
.header {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #820000;
  margin-bottom: 5px;
}

/* My BIO */
.bio {
  margin-top: 5vw;
  margin-right: 30vw;
  margin-left: 45vw;
  text-align: left;
}


/* Project Content*/
.content {
  text-align: left;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Set Footer as a table */
body > footer {
  display: table-row;
}

/* Footer Style */
footer {
  text-align: center;
  bottom: 10px;
  align: center;
  width: 98%;
  height: 80px;
  overflow: hidden;
}


/* Border for Footer */
.footer_border {
  border-top: 1px solid #820000;
	padding-bottom: 8px;
	margin-top: 3vw;
}

/* Footer Links */
.footer_links {
  margin-top: 10px;
}

.footer_badges {
  margin-top: 10px;
  margin-bottom: 5px;
}

.webRing{
  position: relative;
  padding-top: 1px;
  padding-bottom: 2px;
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
	border: solid 1px #820000;
}

