/*===[I-330 BLOG CSS]========================================================|*/

/* The body of the post */
.blog {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* About the I-330 Blog*/
.blog_about {
  justify-content: center;
  text-align: left;
  width: 50%;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
}

/* Content of Page */
.blog_content {
  margin-top: -10px;
  text-align: left;
  margin-top: 0px;
  padding-left: 23%;
  padding-right: 15%;
}

@media (max-width: 700px) {
  .date_hide {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 605px) {
  .blog_content {
    padding-left: 15%;
    padding-right: 10%;
  }
}
@media (max-width: 502px) {
  .blog_content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 425px){
  .blog_content {
    padding-left: 1%;
    padding-right: 1%;
  }
}

