.button {
  text-align: center;
}

body {
  background-color: #DFD3C3;  color: #874356;
}

.cooltext {
  width: auto;
  overflow: hidden;
  height: auto;
}

@media (max-width: 390px){
  .cooltext{
    width: 300px;
  }
}

@media (max-width: 350px){
  .cooltext{
    width: 250px;
  }
}

@media (max-width: 270px){
  .cooltext{
    width: 200px;
  }
}
