body {
  padding-left: 80px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  background:url(yarn.png);
}

a {
  color: #874356;
}

.back-button {
  position: absolute;
  top: 18px;
  right: 22px;
  text-decoration: none;
}

.list-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.indent {
  text-indent: 50px;
}

.quote-box {
  padding-left: 12%;
  padding-right: 12%;
  font-size: 16px;
}

.main-doc {
background-color: white;
padding-left: 36px;
padding-right: 4%;
padding-top: 8px;
padding-bottom: 5%;
}

.sub-doc {
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  color: #6b433b;
  text-align: left;
}

.sub-title{
  color: #b26657;
}

.notes {
  padding-left: 10px;
}

.references {
  font-size: 9px;
}

@media (max-width: 750px){
  body {
    padding-left: 5%;
  }
}


